
body{
    margin: 0px;
    font-family: var(--font-text);
}

#main-body-wrapper{
    display:grid;
    grid-template-columns: auto 1fr;
}

#side-nav {
    margin: 0.5rem 0.3rem;
    display: flex;
    flex-direction: column;
    position:sticky;
}

#side-nav-title{
    display: block;
    padding: 0.4rem 1rem;
    margin: 0.1rem;
}


#side-nav li{
    list-style: none;
}

#main-content{
    scroll-behavior: smooth;
    height:80vh;
    overflow-y: scroll;
    margin: 1rem;
    padding: 1rem 3rem;
    width: 30rem;
}
