body {
    margin: 0px;
    min-height: 100vh !important;
    font-family: var(--font-text);
    background-color: var(--color-5);
}

main {
    min-height: 80vh !important;
}

#contact-banner {
    background-image: url("/assets/10131252-business-group-showing-ethnic-diversity-in-a-meeting.jpg");
    height: 30vh;
    background-position: 0% 20%;
    background-repeat: no-repeat;
    background-size: cover;
}


#contact-banner::before {
    content: "Contáctanos";
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 5rem;
    height: 100%;
    background-color: #1b262cc5;
    font-family: var(--font-subtitle);
    color: var(--color-4)
}

#forms-content {
    margin: 1rem;
    padding: 1rem 20rem;
    display: flex;
    justify-content: center;
}

#form{
    width: 30vw;
    padding: 1.5rem 5rem;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: repeat(7, 1fr);
    background-color: var(--color-1);
    border-radius: 1.5rem;
    box-shadow: 0rem 0rem 0.5rem 0.02rem var(--color-2);
}



#form input[type="text"]{
    border: none;
    width: 100%;
    columns: 1;
    height: 2rem;
    padding: 0.1rem 1rem;
    border-radius: 0.7rem;
}

#form label{
    display: table;
    columns: 0;
    justify-self: left;
    align-items: center;
    color: var(--color-5)

}

#form input[type="text"], #form label{
    font-size: 1.2rem;
}

